<div class="px-4 py-5 my-5">
    <h1 class="display-5 fw-bold text-center">About</h1>
    <div class="col-lg-6 mx-auto text-left">
      <p class="lead"><br />Welcome to Cooking Lovers, a food blog dedicated to sharing delicious, healthy, and easy-to-follow recipes with food lovers around the world. I'm Vlanto, a passionate home cook with a love for fresh ingredients and simple, flavorful dishes.<br />

        My journey with cooking began at a young age, watching my mother prepare meals for our family using fresh herbs and spices grown in our backyard garden. As I grew older, I developed my own style of cooking, drawing inspiration from my travels and experimenting with new ingredients and techniques.<br />
        
        At Cooking Lovers, you'll find a wide range of recipes, from quick and easy weeknight dinners to more elaborate dishes for special occasions. I believe that cooking should be accessible and fun for everyone, regardless of their level of experience, so all of my recipes are designed to be easy to follow and delicious.<br />
        
        I'm committed to using fresh, whole ingredients whenever possible, and I believe that cooking with seasonal produce is not only healthier, but also more sustainable. I also love to experiment with global flavors and techniques, and you'll find recipes inspired by cuisines from all over the world on my blog.<br />
        
        When I'm not in the kitchen, I enjoy traveling, exploring local farmer's markets, and sharing meals with friends and family. I'm always on the lookout for new ingredients and flavors to incorporate into my cooking, and I love connecting with other food lovers and home cooks.<br /> <br />
        Thank you for visiting Cooking Lovers!</p>
    </div>
</div>
