<div class="px-4 py-5 my-5">
    <h1 class="display-5 fw-bold text-center">Contact</h1>
    <div class="col-lg-6 mx-auto text-left">
      <p class="lead"><br />Thank you for your interest in Cooking Lovers! Whether you have a question, a suggestion, or just want to say hello, I'd love to hear from you.<br /><br />

        The best way to get in touch is by sending me an email at random@gmail.com. I read every message I receive and I'll do my best to get back to you within 24-48 hours.<br /><br />
        
        You can also connect with me on social media! Follow Cooking Lovers on Instagram to stay up-to-date with the latest recipes, cooking tips, and foodie inspiration. I'm always happy to chat with fellow food lovers and home cooks.<br /><br />
        
        Thank you for visiting Cooking Lovers, and I look forward to hearing from you soon!<br /><br />
        
        Best,
        Vlanto</p>
    </div>
</div>
